<!--{% extends "ePrescribe/components/header.html" %}-->

<!--{% block sidebar %}-->
<!--<div class="sidebar">-->
  <div class="sidebar-brand">
    <h3>
      <span class="fas fa-laptop-medical"></span>
      E-Prescribe</h3>
  </div>
  <div class="menu">
    <div class="item"><a href=""><i class="fas fa-igloo"></i>Dashboard</a> </div>
    <div class="item"><a href=""><i class="fas fa-clinic-medical"></i>Medical Practices</a> </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-user-doctor"></i>Doctor
      <i class="fas fa-angle-right dropdown"></i> </a>
      <div class="submenu">
        <a href="" class="sub-item">All</a>
        <a href="" class="sub-item">Medical Records</a>
        <a href="" class="sub-item">Contra Indications</a>
        <a href="" class="sub-item">Medical Interactions</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-hospital-user"></i>Patient
      <i class="fas fa-angle-right dropdown"></i> </a>
      <div class="submenu">
        <a href="" class="sub-item">All</a>
        <a href="" class="sub-item">Medical Records</a>
        <a href="" class="sub-item">Contra Indications</a>
        <a href="" class="sub-item">Medical Interactions</a>
      </div>
    </div>
    <div class="item"><a href=""><i class="fas fa-user-nurse"></i>Pharmacist</a> </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-toolbox"></i>Configuration
      <i class="fas fa-angle-right dropdown"></i> </a>
      <div class="submenu">
        <a href="" class="sub-item">Active Ingredients</a>
        <a href="" class="sub-item">ICD 10</a>
        <a href="" class="sub-item">Risk Ratings</a>
      </div>
    </div>
    <div class="item">
      <a class="sub-btn"><i class="fas fa-cogs"></i>Settings
      <i class="fas fa-angle-right dropdown"></i> </a>
      <div class="submenu">
        <a href="" class="sub-item">Users</a>
        <a href="" class="sub-item">Groups</a>
      </div>
    </div>
  </div>
<!--</div>-->
<!--{% endblock sidebar%}-->
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->

<!--<script type="text/javascript">-->
<!--  $(document).ready(function(){-->
<!--    $('.sub-btn').click(function(){-->
<!--      $(this).next('.submenu').slideToggle();-->
<!--    });-->
<!--  });-->
<!--</script>-->