{% extends 'ePrescribe\components\header.html' %}

{% block body %}
        {% if user.is_admin %}
        <a href="{% url 'medprac-create' %}"><button class="btn btn-primary">Add Medical Practice</button></a>
        <a href="{% url 'pharmacy-list' %}"><button class="btn btn-success">Pharmacy</button></a>
        {% endif %}
        {% if user.is_doctor %}
        <a href="{% url 'medprac-list' %}"><button class="btn btn-primary">Medical Practice</button></a>
        {% endif %}
    <div class="container">
    {% for msg in messages %}
        <div class="bg-success text-white">
            <p class="text-center box-sizing">{{msg}}</p>
        </div>
        <br><br>
    {% endfor %}
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <th>Name</th>
            <th>Address</th>
            <th>Contact Number</th>
            <th>Email</th>
            <th>Reference</th>
            {% if user.is_admin %}
            <th>Action</th>
              {% endif %}

            <tbody>
            {% for prac in all_medpractices %}
                <tr>
                    <td>{{prac.name}}</td>
                    <td>{{prac.address}}<br>{{prac.city}}<br>{{prac.suburb}}<br>{{prac.postal_code}}<br>{{prac.province}}</td>
                    <td>{{prac.contact_number}}</td>
                    <td>{{prac.email}}</td>
                    <td>{{prac.reference}}</td>
                    {% if user.is_admin %}
                    <td>
                        <a href="{% url 'medprac-update' prac.id %}" class="btn btn-info">Edit</a>
                        <a href="{% url 'medprac-delete' prac.id %}" class="btn btn-danger">Delete</a>
                    </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    </div>
{% endblock %}