{% extends 'ePrescribe\components\header.html' %}
{% block title %}Rejected prescriptions{% endblock %}


{% block body %}

    {% if rejected %}

    <h2>Rejected prescriptions</h2>

    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <th>Doctor</th>
          <th>Patient</th>
          <th>pharmacy</th>
          <th>pharmacist</th>
          <th>Reason</th>
          <th>Contradictions</th>

            <tbody>
                {% for rej in rejected %}
                <tr>
                    <td>{{rej.medical_record.doctor}}</td>
                    <td>{{rej.medical_record.patient_id}}</td>
                    <td>{{rej.pharmacy}}</td>
                    <td>{{rej.pharmacist}}</td>
                    <td>{{rej.reason}}</td>
                    <td>
                        {% if rej.medical_record.active_ingridients == rej.contra_indication.medicine_id %}

                            <p>There is a Medical Contra indication in the patient's prescription!!</p>
                        {% else %}
                            <p>None</P>
                        {% endif %}
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    {% else %}
        <h3>No rejected prescriptions yet</h3>
    {% endif %}
{% endblock %}